<link rel="stylesheet" href="css/style-chat.css">

<div class="row" ng-app="CtrlChat" ng-show="var_userValid">
    <!--Padding Trick-->
    <div class="col-lg-1"></div>
    <!--Chat Room-->
    <div class="chat_room col-lg-10">
        <div class="row">
            <!--Left Section-->
            <div class="col-lg-2">

            </div>
            <!--Middle Section-->
            <div class="col-lg-8">
                <!--Chat Room Content-->
                <div class="chat_forum_content">
                    <div class="chatbox" scroll-glue>
                        <div class="chat_message row" ng-repeat="m in var_messages">
                            <div class="left_avatar col-lg-1">
                                <div ng-hide="isCurrentUser(m.userId)">
                                    <img on-error-src="img/profilePicDefault.jpg" ng-src="{{ m.profilePic || 'img/profilePicDefault.jpg' }}" alt="{{ m.name }}" class="img-thumbnail">
                                    <p>{{ m.name }}</p>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div ng-hide="isCurrentUser(m.userId)" class="left_message_box">
                                    <p class="message_time">{{ m.time }}</p>
                                    <p class="message_left">{{ m.message }}</p>
                                </div>
                                <div ng-show="isCurrentUser(m.userId)" class="right_message_box">
                                    <p class="message_time">{{ m.time }}</p>
                                    <p class="message_right">{{ m.message }}</p>
                                </div>
                            </div>
                            <div class="right_avatar col-lg-1">
                                <div ng-show="isCurrentUser(m.userId)">
                                    <img on-error-src="img/profilePicDefault.jpg" ng-src="{{ m.profilePic || 'img/profilePicDefault.jpg' }}" alt="{{ m.name }}" class="img-thumbnail">
                                    <p>{{ m.name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="chat_message_input" ng-model="var_chat_message" ng-keypress="onChatMessageKeyPress($event)" size="70"/>
                    <button type="button" class="btn btn-default" ng-click="sendMsg()">Send</button>
                </div>
            </div>

            <!--Right Section-->
            <div class="col-lg-2">
                <!--User List-->
                <div class="panel panel-default">
                    <div class="panel-heading">Users</div>
                    <div class="panel-body">
                        <div class="user_list" ng-repeat="user in var_user_list">
                            <a class="user_card_li" href="">
                                <img on-error-src="img/profilePicDefault.jpg" ng-src="{{ user.profilePic || 'img/profilePicDefault.jpg' }}" alt="{{user.name}}" fall-back-src="img/profilePicDefault.jpg" class="img-thumbnail">
                                <p>{{ user.name }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Padding Trick-->
    <div class="col-lg-1"></div>
</div>
